
<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >
            Students
          </h1>
    <span >  <a [routerLink]="['/admin']" style="text-decoration: none;color: black;">Dashboard</a> / Students</span>
    
      </div>
      <div class="col-auto text-right float-right ml-auto download">
         <a href="#" class="bt btn-outline-primary mr-2" id="button">
          <i class="fas fa-download" ></i>&nbsp;&nbsp;Download
         </a>
         <a [routerLink]="['/add']" class="btn btn-primary" id="plus">
            <i class="fas fa-plus"></i>
         </a>
      </div>
      
    </div>
<div id="form">
    <div  class="dataTables_length" id="DataTables_Table_0_length">
        <label style="margin-left: 20px;">
            <!-- <select  name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>

            </select>  -->
          
         
        </label>
 
    </div>
  </div>
  <div class="outer-wrapper">
  <div class="table-wrapper">

    <table class="mx-4"  class="table table-bordered">
        
            <tr>
                <th>id</th>
                <th>studentId</th>
                <th>firstName</th>
                <th>lastName</th>
                <th>email</th>
                <th>password</th>
                <th>tempPassword</th>
                <th>mobile</th>
                <th>mentorId</th>
                <th>createdOn</th>
                <th>updateOn</th>
                <th>active</th>
                <th>education</th>
                <th>gender</th>
                <th>address</th>
                <th>dob</th>
                <th>course</th>
                <th>passingYear</th>
                <th>mentor</th>
                <th>incomeId</th>
                <th>basePackage</th>
                <th>formalContractRecived</th>
                <th>batchCode</th>
                <th>contractSent</th>
                <th>mentorOpted</th>
              
                <th>action</th>
            </tr>
        
           <tr *ngFor="let a of  studentList">
           <td>{{a.id}}</td>
           <td>{{a.studentId}}</td>
           <td>{{a.firstName}}</td>
           <td>{{a.lastName}}</td>
           <td>{{a.email}}</td>
           <td>{{a.password}}</td>
           <td>{{a.tempPassword}}</td>
           <td>{{a.mobile}}</td>
           <td>{{a.mentorId}}</td>
           <td>{{a.createdOn}}</td>
           <td>{{a.updateOn}}</td>
           <td>{{a.active}}</td>
           <td>{{a.education}}</td>
           <td>{{a.gender}}</td>
           <td>{{a.address}}</td>
           <td>{{a.dob}}</td>
           <td>{{a.course}}</td>
           <td>{{a.passingYear}}</td>
           <td>{{a.mentor}}</td>
           <td>{{a.incomeId}}</td>
           <td>{{a.basePackage}}</td>
           <td>{{a.formalContractRecived}}</td>
           <td>{{a.batchCode}}</td>
           <td>{{a.contractSent}}</td>
           <td>{{a.mentorOpted}}</td>
            <td><button class="btn btn-sm bg-success-light " id="btn1" >
              <i class="fas fa-pen" id="i1"></i>
            </button>
            <button class="btn btn-sm bg-danger-light " (click)=" deleteStudlist(a.id)">
              <i class="fas fa-trash" id="i2"></i>
            </button>
          </td>
           </tr>
      
      </table>
      <!-- <ul class="pagination col-auto text-right float-right ml-auto " style="margin-right: 6px;">
        <li class="page-item"><a class="page-link" href="" >Previous</a></li>
        <li class="page-item active " ><a class="page-link" href="">1</a></li>
       
        <li class="page-item " ><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">Next</a></li>
      </ul> -->
      <mat-paginator [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
    </mat-paginator>

  </div>

  
</div>
