
<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >
            Student Details</h1>
    <span >
        Student /Student  Details
        </span>
    
      </div>
    </div>

    <form>
      <h1 style="margin-left: 20px;margin-top: 15px;">About Me</h1>

      <div class="row">
        <div class="col-3">
           <img src="/assets/image/malelogo.jpg" alt="">
        </div>
        <div class="col-9 ">
             <ul style="list-style: none;">
              <li >
                <span class=" mx-3">Full Name :</span>
                <span class="info-span">Daisy Parks</span>
              </li>

              <li >
                <span class=" mx-3">Department :</span>
                <span class="info-span">Computer Science</span>
              </li>

              <li >
                <span class=" mx-3">Mobile :</span>
                <span class="info-span"> +91 89657 48512</span>
              </li>

              <li >
                <span class=" mx-3">Email :</span>
                <span class="info-span"> </span>
              </li>

              <li >
                <span class=" mx-3">Gender : </span>
                <span class="info-span">Male</span>
              </li>

              <li >
                <span class=" mx-3">DOB :</span>
                <span class="info-span">22 Apr 1995</span>
              </li>
             </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mx-4" id="dummytext">
          Hello I am Daisy Parks. Lorem Ipsum is simply dummy text of the printing and 
           typesetting industry,<br> simply dummy text 
           of the printing and typesetting industry.
        </div>
        
      </div>
      <div class="row follow-sec mb-3">
        <div class="col-4 mb-3 " class="blue-box">
            <h3>2850</h3>
            <p>Followers</p>
        </div>
        <div class="col-4 mb-3" class="blue-box">
          <h3>2050</h3>
          <p>Following</p>
      </div>
      <div class="col-4 mb-3" class="blue-box">
        <h3>2950</h3>
        <p>Friends</p>
    </div>
      </div>
      <div class="row">
        <div class="col-12 mx-4">
          <span>Permanent Address</span>
          <p>480, Estern Avenue, Courtage area, New York</p>
         
        </div>
        <div class="col-12 mx-4">
          <span>Present Address</span>
          <p>480, Estern Avenue, Courtage area, New York</p>
          
            <h2 class="field-title ">
             <span>  </span>
            </h2>
        </div>
      </div>
 
    </form>
</div>
