

<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >Add Expenses
        </h1>
    <span >Accounts
        / Add Expenses</span>
    
      </div>
    </div>
      <form class="form mx-4 " >
      <div class="title mx-3 py-3">
         <h2 class="field-title">
          <span>  Expense Information </span>
         </h2>
      </div>
          
          
           <div class="row mx-3">
            <div class="col-6"> 
              <div class="form-group">
              <label for="" class="form-label">Expenses ID</label>
              <input type="text" class="form-control">
              </div>
            </div>
  
            <div class="col-6">
              <div class="form-group">
                <label for="" class="form-label">
                    
                    Item Name</label>
                <input type="text" class="form-control">
                </div>
    
            </div>
          </div>
              <div class="row mx-3 py-3 ">
                <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Item Quality</label>
                         <input type="text" class="form-control">
                    </div>
                  </div>
                <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Expense Amount</label>
                  <input type="number" class="form-control">
                </div>
              </div>
                </div>
         <div class="row mx-3 py-3">
          <div class="col-6">
                 
            <div class="form-group">
              <label for="" class="form-label">Source of Purchase</label>
              <input type="text" class="form-control">
              </div>
          </div>
          
         </div>
                 
                  
            <div class="row mx-3 py-3">
              <div class="col-6">
                <button type="button" class="btn btn-warning">submit</button>   
           
              </div>
            </div>
      
      </form>
  
           
  </div>
  
  
  