.box-1{
    background-color: lightpink;
    /* margin-top: 5px; */
    border-radius: 30px 0px;
    border:1px solid red;
    height:100%;
}


.icon{
    font-size:4.5rem;
    margin: auto;
    /* background-color: lightcoral; */
}
.text-1{
    margin: auto;
}
h3{
    font-size: 25px;
    padding-top: 10px;
}

/* ------------------------------- */

table {
    width: 100%;
  }
.table-text{
    font-size: 25px;
    height: 60px;
    padding-top: 20px;
    
}
/* -------------------------------- */
.box-5{
    background-color: rgb(212, 176, 33);
    margin-top: 5px;
    border-radius: 10px;
    height: 100px;
}
.fa-brands{
    font-size: 60px;
    padding-top: 25px;

}


#cardbody1 ,#cardbody2 ,#cardbody3 ,#cardbody4{
   
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    padding: 1.5rem;
}
*, ::after, ::before {
    box-sizing: border-box;
}

/* div {
    display: block;
} */
#card1 ,#card2 ,#card3 ,#card4{
    position: relative;
    
    display: flex;

    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    
    background-clip: border-box;
    border: 1px solid #ececf5;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.03);
    margin-bottom: 1.875rem;

}



#card1 {
    background-color: rgb(253 187 56 / 0.5);
    border-color: #fdbb38;
    border-radius: 30px 0px;
}

#card2
{
    background-color: rgba(86, 209, 249, 0.5);
    border-color: #1957cb;
    border-radius: 30px 0px;
}

#card3
{
    background-color: rgba(223, 154, 142, 0.5);
    border-color: #e42525;
    border-radius: 30px 0px;
}

#card4
{
    background-color: rgba(186, 152, 227, 0.285);
    border-color: #8338de;
    border-radius: 30px 0px;
}
.w-100 {
    width: 100%!important;
}