.container{
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    margin: 30px auto;
    margin-left: 220px;
    max-width: 400px;
    min-height: 300px;
    width: 100%;
}



button{
    margin-left: 20px;
    
}

button:hover{
    background-color: rgb(52, 96, 238);
}