

<div class="container">
    <form >
    <div class="row pt-3 pb-3 mx-3" style="text-align: center;">
        <div class="col">
            <h1>Forgot Password?</h1>
            <p>Enter your email to get a password reset link</p>
        </div>
    </div>


        <div class="row pb-2 mx-2">
            <div class="col-12">
             
               <div class="form-group pb-3">
                <input type="email" placeholder="Email" class="form-control">
               </div>
            
              
               
            </div>
        </div>
      
        <div class="row " >
          
                <button class="btn btn-warning " style="color: white;" >Register</button>
          
        </div>
       
       
        <div class="row pt-2" style="margin-left: 70px;">
            <div class="col">
                <span style="color: gray;">Remember your password?</span>
                <a href="login">Login</a>
            </div>
        </div>
    </form>
</div>