
<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >
            Teachers
          </h1>
    <span >  <a [routerLink]="['/admin']" style="text-decoration: none;color: black;">Dashboard</a> / Teachers</span>
    
      </div>
      <div class="col-auto text-right float-right ml-auto">
         <a href="#" class="bt btn-outline-primary mr-2" id="button">
          <i class="fas fa-download" >Download</i>
         </a>
         <a [routerLink]="['/tadd']" class="btn btn-primary" id="plus">
            <i class="fas fa-plus"></i>
         </a>
      </div>
      
    </div>
<form>
    <div  class="dataTables_length" id="DataTables_Table_0_length">
        <label style="margin-left: 20px;">
            <!-- <select  name="DataTables_Table_0_length" aria-controls="DataTables_Table_0" class="custom-select custom-select-sm form-control form-control-sm">
                <option value="10">10</option>
                <option value="25">25</option>
                <option value="50">50</option>
                <option value="100">100</option>

            </select>  -->
          
         
        </label>
 
    </div>
    <div class="outer-wrapper">
      <div class="table-wrapper">
    
        <table class="mx-4"  class="table table-bordered">
      
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                 <th>Gender</th>
                 <th>Email</th>
                 <th>Experience</th>
                 <th>Contact Number</th>
                <th>DateOfJoining</th>
                <th>Address</th>
                <th>Date of Birth</th>
                <th>Qualification</th>
                <th>Salary</th>
                <th>password</th>
                <th>Temp password</th>
                <th>Batch Code</th>
                <th>Mentor Id</th>
                <th>Action</th>
            </tr>
       
     
           <tr *ngFor="let t of teach">
            <td>{{t.id}}</td>
            <td>{{t.firstName}}</td>
            <td>{{t.lastName}}</td>
            <td>{{t.gender}}</td>
            <td>{{t.email}}</td>
            <td>{{t.experience}}</td>
            <td>{{t.contactNo}}</td>
            <td>{{t.dateOfJoining}}</td>
            <td>{{t.address}}</td>
            <td>{{t.dob}}</td>
            <td>{{t.qualification}}</td>
            <td>{{t.salary}}</td>
            <td>{{t.password}}</td>
            <td>{{t.tempPassword}}</td>
            <td>{{t.batchCode}}</td>
            <td>{{t.mentorId}}</td>
            <td><button class="btn btn-sm bg-success-light " id="btn1">
              <i class="fas fa-pen" id="i1"></i>
            </button>
            <button class="btn btn-sm bg-danger-light ">
              <i class="fas fa-trash" id="i2"></i> 
            </button>
          </td>
           </tr>
       
      </table>
      <ul class="pagination col-auto text-right float-right ml-auto " style="margin-right: 6px;">
        <li class="page-item"><a class="page-link" href="" >Previous</a></li>
        <li class="page-item active " ><a class="page-link" href="">1</a></li>
       
        <li class="page-item " ><a class="page-link" href="">2</a></li>
        <li class="page-item"><a class="page-link" href="">Next</a></li>
      </ul>
      <!-- <mat-paginator [length]="100"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"
      aria-label="Select page">
    </mat-paginator> -->

  </div>

  
</div>
