

<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >Add Fees</h1>
    <span >Accounts
        / Add Fees</span>
    
      </div>
    </div>
      <form class="form mx-4 " >
      <div class="title mx-3 py-3">
         <h2 class="field-title">
          <span>  Fees Information </span>
         </h2>
      </div>
          
          
           <div class="row mx-3">
            <div class="col-6"> 
              <div class="form-group">
              <label for="" class="form-label">Student ID</label>
              <input type="text" class="form-control">
              </div>
            </div>
  
            <div class="col-6">
              <div class="form-group">
                <label for="" class="form-label">
                    Student Name</label>
                <input type="text" class="form-control">
                </div>
    
            </div>
          </div>
              <div class="row mx-3 py-3 ">
                <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Gender</label>
                         <select name="" id="" class="form-control">
                          <option value="">Select Gender</option>
                          <option value="">Female</option>
                          <option value="">Male</option>
                          <option value="">Others</option>
                         </select>
                    </div>
                  </div>
                <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Fees Type</label>
                     <select name="" id="" class="form-control">
                      <option value="">Select Type</option>
                      <option value="">Class Test</option>
                      <option value="">Exam Fees</option>
                      <option value="">Hostel Fees</option>
                      <option value="">Transport Fees</option>
                      <option value="">Mess Fees</option>
                     </select>
                </div>
              </div>
                </div>
         <div class="row mx-3 py-3">
          <div class="col-6">
                 
            <div class="form-group">
              <label for="" class="form-label">Fees Amount</label>
              <input type="number" class="form-control">
              </div>
          </div>
          <div class="col-6">
                 
            <div class="form-group">
              <label for="" class="form-label">
                Paid Date</label>
              <input type="date" class="form-control">
              </div>
          </div>
         </div>
                 
                  
            <div class="row mx-3 py-3">
              <div class="col-6">
                <button type="button" class="btn btn-warning">submit</button>   
           
              </div>
            </div>
      
      </form>
  
           
  </div>
  
  
  
  
  