
<div class="content container pt-3">

    <div class="row m-4  ">
      <div class="col">
        <h1  >Add Teachers</h1>
    <span >Teachers / Add Teachers</span>
    
      </div>
    </div>
      <form class="form mx-4 " [formGroup]="teacherForm" >
      <div class="title mx-3 py-3">
         <h2 class="field-title">
          <span>   Basic Details </span>
         </h2>
      </div>

      <div class="row mx-3 py-3">
      <div class="col-6"> 
        <div class="form-group">
        <label for="" class="form-label">Teacher Id</label>
        <input type="number" class="form-control" formControlName="mentorId" name="mentorId">
        </div>
      </div>  
      <div class="col-6 "> 
        <div class="form-group">
        <label for="" class="form-label">Batch Code</label>
        <input type="text" class="form-control" formControlName="batchCode" name="batchCode">
        </div>
      </div>
    </div>
           <div class="row mx-3">
          
  
            <div class="col-6">
              <div class="form-group">
                <label for="" class="form-label">First Name</label>
                <input type="text" class="form-control" formControlName="firstName">
                </div>
            </div>
            <div class="col-6">
              <div class="form-group">
                <label for="" class="form-label">Last Name</label>
                <input type="text" class="form-control" formControlName="lastName">
                </div>
            </div>
          </div>
              <div class="row mx-3 py-3 ">
                <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Gender</label>
                         <select name="" id="" class="form-control" formControlName="gender">
                          <option value="Gender">Select Gender</option>
                          <option value="Female">Female</option>
                          <option value="Male">Male</option>
                          <option value="Other">Others</option>
                         </select>
                    </div>
                  </div>
                  <div class="col-6">
                 
                    <div class="form-group">
                      <label for="" class="form-label">Date of Birth</label>
                      <input type="date" class="form-control" formControlName="dob">
                      </div>
                  </div>
             
        
                </div>
         <div class="row mx-3 py-3">
            <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Mobile</label>
                  <input type="number" class="form-control" formControlName="contactNo">
                  </div>
              </div>
              <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Joining Date</label>
                  <input type="date" class="form-control" formControlName="dateOfJoining">
                  </div>
              </div>
         </div>
                  <div class="row mx-3 py-3">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Qualification</label>
                        <input type="text" class="form-control" formControlName="qualification">
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">
                            Experience</label>
                        <input type="text" class="form-control" formControlName="experience">
                        </div>
                    </div>
                  </div>
                    
                
                        <div class="title mx-3 py-3">
                          <h2 class="field-title">
                           <span>   Login Details</span>
                          </h2>
                       </div>
                     <div class="row mx-3 py-3">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">Username</label>
                          <input type="text" class="form-control">
                          </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">
                            Email ID</label>
                          <input type="email" class="form-control" formControlName="mentorEmail" >
                          </div>
                      </div>
                     </div>
                    <div class="row mx-3 py-3">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          </div>
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">Repeat Password</label>
                          <input type="password" class="form-control" formControlName="password">
                          </div>
                      </div>
                    </div>

                    <div class="title mx-3 py-3">
                        <h2 class="field-title">
                         <span>   Address</span>
                        </h2>
                     </div>

                     <div class="row mx-3 py-3">
                      <div class="col-12">
                        <div class="form-group">
                          <label for="" class="form-label">Address</label>
                          <input type="text" class="form-control" formControlName="address">
                          </div>
                      </div>
                     
                     </div>
                      <div class="row mx-3 py-3">
                        <div class="col-6">
                          <div class="form-group">
                            <label for="" class="form-label">City</label>
                          <select name="" id="" class="form-control">
                            <option value=""></option>
                          </select>
                            </div> 
                        </div>
                        <div class="col-6">
                          <div class="form-group">
                            <label for="" class="form-label">State</label>
                            <select name="" id="" class="form-control">
                                <option value=""></option>
                            </select>
                            </div> 
                        </div>
                      </div>
                            <div class="row mx-3 py-3">
                              <div class="col-6">
                                <div class="form-group" style="margin-bottom: 7px;">
                                  <label for="" class="form-label">Zip Code</label>
                                 <input type="number" class="form-control">
                                  </div> 
                                  
                              </div>
                              <div class="col-6">
                                <div class="form-group" style="margin-bottom: 7px;">
                                  <label for="" class="form-label">
                                    Country</label>
                                <select name="" id="" class="form-control">
                                    <option value=""></option>
                                </select>
                                  </div> 
                                  
                              </div>
                            </div>
                  
            <div class="row mx-3 ">
              <div class="col-6">
                <button type="button" class="btn btn-warning" (click)="saveTeacherData()">submit</button>   
           
              </div>
            </div>
      
      </form>
  
           
  </div>
  
  
  
  
  
  