

<div class="content container pt-3">

  <div class="row m-4  ">
    <div class="col">
      <h1  >Add Students</h1>
  <span ><a [routerLink]="['/list']" style="color: black;text-decoration: none;">Students</a>   / Add Students</span>
  
    </div>
  </div>
    <form class="form mx-4 " [formGroup]="addstudform" >
    <div class="title mx-3 py-3">
       <h2 class="field-title">
        <span>   Student Information </span>
       </h2>
    </div>
        
        
         <div class="row mx-3">
          <div class="col-6"> 
            <div class="form-group">
            <label for="" class="form-label">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" name="firstName">
            </div>
          </div>

          <div class="col-6">
            <div class="form-group">
              <label for="" class="form-label">Last Name</label>
              <input type="text" class="form-control" formControlName="lastName" name="lastName">
              </div>
  
          </div>
        </div>
            <div class="row mx-3 py-3 ">
              <!-- <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Student id</label>
                  <input type="text" class="form-control">
                  </div>
              </div> -->
              <div class="col-6">
                <div class="form-group">
                  <label for="" class="form-label">Course</label>
                  <input type="text" class="form-control" formControlName="course" name="course">
                  </div>
              </div>
              <div class="col-6">
              <div class="form-group">
                <label for="" class="form-label">Gender</label>
                   <select name="" id="" class="form-control" formControlName="gender" name="gender">
                    <option value="">Select Gender</option>
                    <option value="Female">Female</option>
                    <option value="Male">Male</option>
                    <option value="Others">Others</option>
                   </select>
              </div>
            </div>
              </div>
       <div class="row mx-3 py-3">
        <div class="col-6">
               
          <div class="form-group">
            <label for="" class="form-label">Date of Birth</label>
            <input type="date" class="form-control" formControlName="dob" name="dob">
            </div>
        </div>
        <div class="col-6">
               
          <!-- <div class="form-group">
            <label for="" class="form-label">Class</label>
            <input type="text" class="form-control">
            </div> -->
            <div class="form-group">
              <label for="" class="form-label">Education</label>
              <input type="text" class="form-control" formControlName="education" name="education">
              </div>
        </div>
       </div>
                <div class="row mx-3 py-3">
                  <!-- <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Religion</label>
                      <input type="text" class="form-control">
                      </div>
                  </div> -->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Email</label>
                      <input type="email" class="form-control" formControlName="email" name="email">
                      </div>
                  </div>
                  <!-- <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Joining Date</label>
                      <input type="date" class="form-control">
                      </div>
                  </div> -->
                  <div class="col-6">
                    <div class="form-group">
                      <label for="" class="form-label">Passing Year</label>
                      <input type="text" class="form-control" formControlName="passingYear" name="passingYear">
                      </div>
                  </div>
                </div>
                   <div class="row mx-3 py-3">
                   
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Mobile Number</label>
                        <input type="number" class="form-control" formControlName="mobile" name="mobile">
                      </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group" style="margin-bottom: 7px;">
                        <label for="" class="form-label">Address</label>
                       <textarea name="" id="" cols="10" rows="3" class="form-control"
                        formControlName="address" name="address"></textarea>
                        </div> 
                    <!-- <div class="col">
                      <div class="form-group">
                        <label for="" class="form-label">Admission Number</label>
                        <input type="number" class="form-control">
                      </div>
                    </div> -->
                   </div>
               <!-- <div class="row mx-3 py-3">
                <div class="col-6">
                  <div class="form-group" style="margin-bottom: 4px;">
                    <label for="" class="form-label">Section</label>
                    <input type="text" class="form-control">
                    </div>
                    
                </div>
                <div class="col-6">
                  <div class="form-group" style="margin-bottom: 4px;">
                    <label for="" class="form-label">Student Image</label>
                    <input type="file" class="form-control" >
                    </div>
                    
                </div> -->
               <!-- </div> -->
                      <!-- <div class="title mx-3 py-3">
                        <h2 class="field-title">
                         <span>   Parent Information </span>
                        </h2>
                     </div> -->
                   <!-- <div class="row mx-3 py-3">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Father's Name</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Father's Occupation</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                   </div> -->
                  <!-- <div class="row mx-3 py-3">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Father's Mobile</label>
                        <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Father's Email</label>
                        <input type="email" class="form-control">
                        </div>
                    </div>
                  </div> -->
                   <!-- <div class="row mx-3 py-3">
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Mother's Name</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-6">
                      <div class="form-group">
                        <label for="" class="form-label">Mother's Occupation</label>
                        <input type="text" class="form-control">
                        </div>
                    </div>
                   </div> -->
                    <!-- <div class="row mx-3 py-3">
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">Mother's Mobile</label>
                          <input type="number" class="form-control">
                          </div> 
                      </div>
                      <div class="col-6">
                        <div class="form-group">
                          <label for="" class="form-label">Mother's Email</label>
                          <input type="email" class="form-control">
                          </div> 
                      </div>
                    </div> -->
                          <!-- <div class="row mx-3 py-3">
                            <div class="col-6">
                              <div class="form-group" style="margin-bottom: 7px;">
                                <label for="" class="form-label">Address</label>
                               <textarea name="" id="" cols="10" rows="3" class="form-control"
                                formControlName="address" name="address"></textarea>
                                </div> 
                                
                            </div> -->
                            <!-- <div class="col-6">
                              <div class="form-group" style="margin-bottom: 7px;">
                                <label for="" class="form-label">Permanent Address</label>
                               <textarea name="" id="" cols="10" rows="3" class="form-control"
                               formControlName="address" name="address"></textarea>
                                </div> 
                                
                            </div> -->
                          </div>
                
          <div class="row mx-3 py-1">
            <div class="col-6">
              <button type="button" class="btn btn-warning" (click)="regpost()">submit</button>   
         
            </div>
          </div>
    
    </form>

         
</div>





